@tailwind base;
@tailwind components;
@tailwind utilities;

 

body{
    box-sizing: border-box;
    background-color: darkslategrey;
}
.wrapper{
    display:center;
    justify-content: center;
    align-items: center;
}